.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin: 40px 0 20px;
}

@media (min-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-card {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*padding: 15px 30px;*/
  border: 2px solid var(--color-border);
  transition: all 0.2s linear;
  border-radius: 12px;
}

.project-card:hover {
  background: rgba(255,255,255,0.5);
  box-shadow: 0 0 5px #d9d9d9;
}

.project-card img {
  margin-bottom: 20px;
  border-radius: 12px 12px 0 0;
}

.project-card .project-card__image:hover {
  border-bottom: none;;
}

.project-card-content {
  padding: 15px 30px;
}

.project-card__title {
  color: var(--color-text);
}

.project-card__tag {
  background-color: var(--color-secondary);
  color: var(--color-text-alt);
}

.project-card__tag:hover {
  color: var(--color-text-alt);
  filter: brightness(90%);
}

.project-card__emoji {
  margin-right: 8px;
}
